services:
  database:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: proyecto
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: mora7704.
    ports:
      - "5432:5432"
    volumes:
      - ./database/data:/var/lib/postgresql/data
      - ./database/init.sql:/docker-entrypoint-initdb.d/init.sql

  backend:
    build: ./backend
    ports:
      - "3000:3000"
    depends_on:
      - database
    environment:
      DB_HOST: database
      DB_PORT: 5432
      DB_NAME: proyecto
      DB_USER: postgres
      DB_PASSWORD: mora7704.

  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend